.auth-holder {
    background-color: #101010;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot_password {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.5;
}


/* #Intro {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
} */


/* body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
} */

a {
    text-decoration: none;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
}

.pricing-table h2 {
    font-size: 1.5em;
    padding: 35px 10px;
    margin: 0;
}

.description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
}

.description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
}

.price,
.pricing-box {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.price {
    background: #167fd4;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    position: relative;
    padding: 20px 10px;
    display: block;
}

.pricing-box:nth-child(2) .price {
    background: #216f99;
}

.pricing-box:nth-child(3) .price {
    background: #02537f;
}

.pricing-box:hover .price {
    background: #ff0;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
    color: #000;
}

.btn {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    border-radius: 30px;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background: #167fd4;
    border: 1px solid #167fd4;
    color: #fff !important;
}

.pricing-table-divider {
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    max-width: 80%;
    margin: 20px auto 0;
}

.pricing-table {
    border-radius: 3px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
}

.pricing-box-2 {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(10, 123, 183, 0.14);
}

.pricing-box-2:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.pricing-table ul li {
    padding: 3px 0;
    font-size: 0.95em;
}

.pricing-table ul {
    color: #000;
    padding: 15px 60px;
    text-align: left;
}

@media (max-width: 750px) {
    .pricing-table {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .pricing-table>div:nth-child(3) {
        -ms-grid-row: 1;
        grid-row-start: 1;
    }
    .pricing-table>div:nth-child(2) {
        -ms-grid-row: 2;
        grid-row-start: 2;
    }
    .pricing-table>div {
        -ms-flex-item-align: top;
        -ms-grid-row-align: top;
        align-self: top;
    }
}

fieldset div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em 0.75em;
    position: relative;
    margin-left: 0.0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: 0.05em;
    color: #3e4963;
    text-align: center;
    transition: background-color 0.5s ease;
}

label:first-child span {
    border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
    border-radius: 0 0.375em 0.375em 0;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.recent-tranx{
    display: flex;
    margin-top: 50px;
}
.recent-tranx>div{
    width: 50%;
    margin: 20px;
}
.recent-tranx-table{
    width: 100%;
}
.recent-tranx-table>thead>tr,
.recent-tranx-table>tbody>tr
{
    height: 50px;
}
.recent-tranx-table>tbody>tr:nth-of-type(odd){
    background-color: rgba(0,0,0,.05);
}
.recent-tranx-table>tbody>tr>td{
    padding: 10px;
}
.nav-height {
    height: 100vh !important;
}

/* Accordion styles */
.faq-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.faq-tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.faq-tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.faq-tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
}
.faq-tab-label:hover {
    background: #1a252f;
}
.faq-tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.faq-tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}
.faq-tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.faq-tab-close:hover {
    background: #1a252f;
}
input:checked + .faq-tab-label {
    background: #1a252f;
}
input:checked + .faq-tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .faq-tab-content {
    max-height: 100vh;
    padding: 1em;
}